:root {
    /* colors */
    --bg-color: hsl(212, 45%, 89%);
    --title-color: hsl(218, 44%, 22%);
    --description-color: hsl(220, 15%, 55%);
    --card-bg-color: hsl(0, 0%, 100%);
    /* fonts */
    --base-font: 'Outfit', sans-serif;
}